DJANGO_SECRET_KEY=cambia-esto-por-algo-largo-y-aleatorio
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=*
DB_NAME=candado
DB_USER=candado
DB_PASSWORD=candado_dev
DB_HOST=db
DB_PORT=5432
# Token que deben enviar los teléfonos para identificarse. Cámbialo.
AGENTE_TOKEN=token-secreto-de-los-telefonos-cambialo
# Usuario admin inicial del panel
ADMIN_USER=admin
ADMIN_PASSWORD=admin1234
CSRF_TRUSTED_ORIGINS=
CORS_ORIGINS=
